/* CARDS */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.titulo span {
    font-size: 48px;
    font-family: "Limelight";
    color: #623820;
}

.titulo hr {
    background-color: var(--corBackground);
    width: 200px;
    height: 4px;
    border: none;
    border-radius: 2px;
    margin: 2px;
    box-shadow: 0 4px 4px 2px #00000025;
}


/*ÁREA DOS CARDS*/
.cards-produto {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


/*CARD (DESKTOP: 3 POR LINHA)*/
.card-produto {
    width: 30%;
    max-width: 350px;
    height: 550px;
    background-color: #657047;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 80px;
    box-shadow: 0 4px 4px 2px #00000025;
}

.card-produto img {
    width: 100%;
}

.card-produto p {
    padding: 10px;
    font-size: 20px;
    font-family: "Be Vietnam Pro";
    margin: 25px;
    color: white;
}

.valor {
    font-family: "Be Vietnam Pro";
    background-color: #FACC14;
    border-radius: 7px;
    font-size: 20px;
    padding: 5px;
}

@media (max-width: 1200px) {

    .titulo span {
        font-size: 40px;
    }

    .card-produto {
        width: 46%;
        /* 2 por linha */
        height: 525px;
        margin-bottom: 20px;
    }

    .card-produto p {
        font-size: 23px;
        margin: 20px;
    }
}



@media (max-width: 770px) {

    .titulo {
        margin: 60px auto;
    }

    .titulo span {
        font-size: 30px;
        text-align: center;
    }

    .titulo hr {
        width: 120px;
    }

    .card-produto {
        width: 90%;
        /* 1 por linha */

    }

    .card-produto p {
        font-size: 23px;
        margin: 15px;
    }

    .valor {
        font-size: 23px;
    }
}


@media (max-width: 380px) {

    .titulo {
        margin: 60px auto;
    }

    .titulo span {
        font-size: 30px;
        text-align: center;
    }

    .titulo hr {
        width: 120px;
    }

    .card-produto {
        width: 90%;
        /* 1 por linha */

    }

    .card-produto p {
        font-size: 24px;
        margin: 23px;
    }

    .valor {
        font-size: 23px;
        padding: 5px;
    }
}

