
/* cards */

.container-cabecalho {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    background-color: var(--corprincipal);
    margin: 0 auto;
    height: 100%;
    align-items: center;
}



.cards-categoria{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: auto;
}

.linha1,
.linha2,
.linha3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;  
}

.area,
.cozinha,
.banheiro,
.quarto {
    margin-right: 10px;
}


.quarto {
    width: 833px;
    aspect-ratio: 2.19;
}

.quarto-inf {
    width: 588px;
    aspect-ratio: 1.55;
}

.banheiro {
    width: 342px;
    aspect-ratio: 0.91;
}

.cozinha {
    width: 342px;
    aspect-ratio: 0.92;
}

.sala {
    width: 704px;
    aspect-ratio: 1.90;
}

.area {
    width: 587px;
    aspect-ratio: 1.36;
}

.escrit {
    width: 832px;
    aspect-ratio: 1.93;
}

.escrit img,
.area img,
.sala img,
.cozinha img,
.banheiro img,
.quarto-inf img,
.quarto img {
    width: 100%;
}

img {
    cursor: pointer;
}

@media screen and  (max-width: 600px) {
    .cards-categoria .linha1,
    .cards-categoria .linha2,
    .cards-categoria .linha3{
        flex-direction: column;
        margin-bottom: 0;
    }

    .cards-categoria .linha2{
        position: relative;
    }

    .cards-categoria a{
        width: 100%;
        margin: 20px 0;
    }

    .cards-categoria .cozinha,
    .cards-categoria .banheiro{
        width: 48%;   
    }

    .cards-categoria .cozinha{
        position: absolute;
        right: 0;
    }
}