.botaoModalCancelar{
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #FEF8E8;
  font-size: 24px;
  font-family: "Abel", system-ui;
  box-shadow: 0 4px 4px 0 #000025;
  cursor: pointer;
}

.botaoSubmitModal{
  padding: 10px 100px;
  border-radius: 10px;
  background-color: #657047;
  font-size: 24px;
  font-family: "Abel", system-ui;
  box-shadow: 0 4px 4px 0 #000025;
  cursor: pointer;
}