/* HEADER */
header {
    background-color: #657047;
    height: 85px;
}

.container-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icone-voltar {
    height: 42px;
    fill: #FACC14;
    cursor: pointer;
}

.icone-logo {
    height: 90px;
    cursor: pointer;

}


.box-busca {
    position: relative;
    width: 60%;
    max-width: 500px;
    margin: 0 10px;
    text-align: center;

}

.icone-lupa {
    position: absolute;
    width: 36px;
    aspect-ratio: 1;
    top: 3px;
    left: 3px;
    fill: #623820;
}

.campo-busca {
    width: 100%;
    height: 42px;
    border-radius: 20px;
    border: solid 1px #cccccc;
    padding-left: 45px;
    font-size: 20px;
    font-family: "Abel", system-ui;
}

.menu-barras {
    width: 50px;
    color: #FACC14;
    display: none;
    z-index: 2;

}