/* rodape */


.rodape {
    width: 100%;
    height: 87px;
    background-color: #657047;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.envelope {
    width: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.rodape p {
    font-size: 30px;
    font-family: "Abel", system-ui;
    text-align: left;
    color: #FACC14;
    cursor: pointer;
    margin-left: 5px;
}

@media (max-width: 500px) {
    .envelope {
        width: 40px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .rodape {
        height: 90px;
    }

}